---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Porfolio de Javi Barrientos Peralta | Desarrollador y Programador Web."
  description="Contrata a Javi Barrientos Peralta para crear tu aplicación web o móvil. Desarrollador y Programador Web. Especializado en crear proyectos únicos."
>
  <main class="px-4">
    <SectionContainer class="md:pt-20 xl:pt-20 pb-0">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/44582104?v=4"
        alt="Profile photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row pb-6 lg:pb-10"
      >
        Hey I'm Javi Barrientos
        <a
          href="https://www.linkedin.com/in/javi-barrientos-peralta/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center px-4 lg:w-[600px] xl:w-[700px]"
        >
          <Badge>
            Analista de Arquitectura Empresarial en Accenture España
          </Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span>+2 años de experiencia.</span>
        <span class="text-yellow-200/90"
          >Desarrollador frontend con muchas ganas de aprender.</span
        >
        <span class="text-red-200/90"> De Barcelona, España.</span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/javi-barrientos-peralta/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/JaviBarrientos17">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:javierbarrientos2010@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          javierbarrientos2010@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience" class="md:pt-10 xl:pt-10 pb-0">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-4 md:size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" class="md:pt-10 xl:pt-0">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-4 md:size-6" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
