---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Analista de Arquitectura Empresarial - Accenture España",
    location: "Barcelona, Cataluña, España",
    description: "",
    aptitudes: "",
    link: "",
  },
  {
    date: "Sept. 2022 - May. 2023 (9 meses)",
    title: "Analista de Negocios e Integración Arch - Accenture España",
    location: "Barcelona, Cataluña, España",
    description:
      "Realización de tareas de diseño técnico, desarrollos y pruebas de los distintos endpoints.",
    aptitudes:
      "HTML5 · GitHub · Git · Usabilidad · Toma de decisiones · Resolución de incidencias · Trabajo en equipo",
    link: "",
  },
  {
    date: "Ene. 2022 - Jun. 2022 (6 meses)",
    title:
      "Desarrollador de back-end Junior - Accenture España · Contrato de prácticas",
    location: "Barcelona, Cataluña, España",
    description:
      "Realización de tareas de diseño técnico, desarrollos y pruebas de los distintos endpoints.",
    aptitudes: "Bases de datos · Linux · GitHub · Git · Java",
    link: "",
  },
  {
    date: "Ene. 2021 - May. 2021 (5 meses)",
    title: "Programador Junior - Accenture España · Contrato de prácticas",
    location: "Barcelona, Cataluña, España",
    description:
      "Realización de tareas de diseño técnico, desarrollos y pruebas de los distintos endpoints.",
    aptitudes:
      "Bases de datos · GitHub · Resolución de incidencias · Trabajo en equipo",
    link: "",
  },
  {
    date: "Oct. 2018 - Abr. 2019 (7 meses)",
    title:
      "Técnico de reparación de equipos informáticos - STUCOM Centre d'Estudis · Contrato de prácticas",
    location: "Barcelona, Cataluña, España",
    description:
      "Realización de tareas de diseño técnico, desarrollos y pruebas de los distintos endpoints.",
    aptitudes:
      "Reparación de equipos informáticos · Servicios técnicos · Soporte de hardware · Networking",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
