---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Analista de Arquitectura Empresarial",
    company: "Accenture España",
    location: "Barcelona, Cataluña, España",
    description: "",
    aptitudes: "",
    link: "",
  },
  {
    date: "Sept. 2022 - May. 2023 (9 meses)",
    title: "Analista de Negocios e Integración Arch",
    company: "Accenture España",
    location: "Barcelona, Cataluña, España",
    description: "Realización de tareas de diseño técnico, desarrollos y pruebas de los distintos endpoints.",
    aptitudes: "HTML5 · GitHub · Git · Usabilidad · Pruebas · Toma de decisiones · Resolución de incidencias · Trabajo en equipo",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
